body {
    height: 100vh;
    width: 100vw;
}

#container {
    background-color: whitesmoke;
    height: 10cm;
    width: 20cm;
    border: solid 5px black;
}

#container > p {
    background-color: rgba(0, 255, 255, 0.5);
    width: 2in;
    height: 5em;
    border: double 5px #0000FF;
}

body, #container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container:hover {
    border-radius: 50px;
    transition-duration: 3s;
}

#container:hover > p {
    color: red;
}
