/*  Aluna: Sophia Agnes de Machado Ferreira 
            12/12/2024  */

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteiner > p{
    background-color: rgba(0, 255, 255, 0.5);
    width: 2in;
    height: 5em;
    border-style: double;
    border-width: 5px;
    border-color: #0004ff;

    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    transition: border-radius 3s;
}

p:hover{
    color: rgb(255, 0, 0);
    border-radius: 50px;
}